@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #fff;
}
header  * {
  background-color: #fff;
}
.logo, .nav__links li a {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.url-input {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

}

.url-input .left-content {
  width: 60%;
  background: unset;
  margin-bottom: 30px;
}

.url-input .right-content {
  width: 40%;
  background: unset;
}

.url-shortner-wrapper {
  background: #fff;
  width: 50%;
  margin: 10% 0 0 30%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.url-shotner {
  padding: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.url-shotner span {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 22px 0;
}

.url-shotner input[type="text"] {
  padding: 8px;
  width: 100%;
  /* border-radius: 5px; */
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 10px;
}

.btn-primary {
  padding: 10px;
  border: none;
  background: #0d6efd;
  border-radius: 4px;
  color: #fff;
}

.url-subtext {
  padding: 10px;
  width: 83%;
  font-weight: bold;
}

.right-content {
  padding-top: 6%;
  color: #fff;
}

.right-content p:nth-child(1){
  font-size: 17px;
}

.right-content p:nth-child(2){
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

p svg {
  vertical-align: middle;
}

.right-content:last-child {
  margin-bottom: 10px;
}
